.AboutPage{
    font-family: 'Times New Roman';
    color: white;
}

.AboutHeader{
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 4vh;
}

#AboutText{
    font-size: 110%;
    margin:auto;
    margin-top: 6vh;
    text-align:left;
    max-width: 60vw;
}