.Home{
    text-align: center;
    color: whitesmoke;
}

#Title{
    font-size: 3vh;
    text-shadow: 3px 3px 4px #3a3a3a;
    font-family: 'Times New Roman', serif;
}

.HomepageButton{
    font-family: 'Times New Roman', serif;
    font-size: 150%;
    font-weight:600;
    background-image:linear-gradient(to right, rgb(46, 141, 153), rgb(30, 150, 114));
    
    border-style:solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: rgb(70, 170, 173);
    border-top-color: rgb(40, 163, 212);
    border-bottom-color: rgb(49, 170, 134);

    outline-style:none;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    
    height: 10vh;
    width: 30vh;
}